In [16]:
import numpy as np
import pandas as pd
import random

In [4]:
File='DataFile_g01_Ut10.csv'
print("Hello!")

Hello!

In [5]:
df=pd.read_csv(File)
print(df)
df=df.to_numpy()

        Unnamed: 0  Hits  0  1  2         3  4  5         6         7  ...  \
0                0     5  0  0  0  0.027744  0  0  0.006047  0.005956  ...
1                1    29  0  0  0  0.071582  0  0  0.095274  0.028900  ...
2                2    13  0  0  0  0.244423  0  0  0.270753  0.071283  ...
3                3     9  0  0  0  0.041227  0  0  0.056429  0.016169  ...
4                4     3  0  0  0  0.020055  0  0  0.036089  0.017066  ...
...            ...   ... .. .. ..       ... .. ..       ...       ...  ...
999995      999995     2  0  0  0  0.024358  0  0  0.000000  0.036355  ...
999996      999996     6  0  0  0  0.081873  0  0  0.142739 -0.036384  ...
999997      999997    39  0  0  0  0.176136  0  0  0.184779  0.003571  ...
999998      999998     5  0  0  0  0.083927  0  0  0.090642 -0.024572  ...
999999      999999     4  0  0  0  0.052948  0  0  0.063310 -0.034069  ...

        300  301  302  303  304  305  306  307  308  309
0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
999995  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999996  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999997  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999998  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999999  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1000000 rows x 312 columns]

In [6]:
print(df)

[[0.00000e+00 5.00000e+00 0.00000e+00 ...         nan         nan
          nan]
 [1.00000e+00 2.90000e+01 0.00000e+00 ...         nan         nan
          nan]
 [2.00000e+00 1.30000e+01 0.00000e+00 ...         nan         nan
          nan]
 ...
 [9.99997e+05 3.90000e+01 0.00000e+00 ...         nan         nan
          nan]
 [9.99998e+05 5.00000e+00 0.00000e+00 ...         nan         nan
          nan]
 [9.99999e+05 4.00000e+00 0.00000e+00 ...         nan         nan
          nan]]

In [7]:
# Assume two cases
# Case1: Ua = 0.1
# Case2: Ua = 0.5
# Use beer-lambert's law for absorption

tot_rows=int(1E6)
print(tot_rows)
# Case 1
Ua=0.1

1000000

In [17]:



# Average path variable
path=0


for i in range(0,tot_rows):
    if (i%10000==0):
        print(i*100/tot_rows)
    
    hit=int(df[i][1])
    w=1
    # Coordinates of origin
    X0=0
    Y0=0
    Z0=0
    for j in range(hit):
        z=df[i][5+j*3]
        x=df[i][6+j*3]
        y=df[i][7+j*3]
        dist=np.sqrt((x-X0)**2 + (y - Y0)**2 + (z-Z0)**2)
        path+=dist*w
        w=w*(1-Ua)
        if (w<0.001):
            e=random.uniform(0,1)
            if (e<0.1):
                w=w*10
            else:
                break
        X0=x
        Y0=y
        Z0=z

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0

In [18]:
print(path/tot_rows)

0.599706590054946